/* RESET CSS pour effacer tous les styles prédéfinis*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

input {
    min-width: 0;
    border: 0;
    font-family: inherit;
}

button {
    font: inherit;
    color: inherit;
    border: none;
    background: transparent;
}

/* CSS BOOKI */

body {
    font-family: 'Raleway', sans-serif;
}

.container { 
    /* Pour garder la max-width à 1400px + padding */
    width: 100%;
    max-width: 1500px;

    padding-inline: 50px;
    margin: auto;
}

h2 {
    font-size: 1.375rem;
    font-weight: 700;
}

/* HEADER */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 19px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.nav-menu li {
    margin-left: 1.25rem;
}

.nav-menu a {
    display: block;

    padding: 2.875rem 1.25rem;
    /* La bordure est invisible pour éviter le sursaut d'1 px au survol */
    border-top: solid 2px rgba(0, 0, 0, 0);
}

.nav-menu a:hover {
    color: #0065FC;
    border-top: solid 2px;
}

/* SECTION RECHERCHE */

.research h1 {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.research-function {
    display: flex;
    margin-top: 1.25rem;
}

.research-function .geolocation {
    background-color: #F2F2F2;
    padding: 1rem 1.125rem 1rem 1.125rem;
    border-radius: 1rem 0 0 1rem;

    font-size: 1rem;
}

.research-function input[type="text"] {
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    padding: 0.813rem 0 0.813rem 1rem;

    font-size: 1.125rem;
    font-weight: 700;
    color: #000000;
}

::placeholder {
    /*Remplace la couleur du texte en placeholder pour un meilleur contraste*/
    color: #000000 
}

.research-function .submit-button {
    background-color: #0065FC;
    padding: 0.875rem 1rem;
    border-radius: 0 1rem 1rem 0;

    font-size: 1.125rem;
    font-weight: 700;
    color: #FFFFFF;
}

.research-function .submit-button i {
    /* Ne s'affiche pas avant le breakpoint mobile */
    display: none;
}

/* BOUTONS FILTRES */

.filters {
    display: flex;
    /* Le dernier bouton peut passer en dessous pour les petits écrans avant le breakpoint mobile */
    flex-wrap: wrap;
    row-gap: 1rem;

    font-weight: 700;
    align-items: center;
    padding-block: 2rem 2.5rem;
}

.filters p {
    font-size: 1.125rem;
    margin-right: 2rem;
}

.filter-button  {
    display: flex;
    align-items: center;

    border: solid 1px #D9D9D9;
    border-radius: 1.563rem;

    font-size: 1.063rem;
    padding: 0.813rem 1.188rem;
    margin-right: 2rem;
    
}

.filter-button:last-child {
    /* Retire la marge à droite pour le dernier bouton */
    margin-right: 0;
}

.filter-button i {
    color: #0065FC;
    font-size: 1.375rem;
    margin-right: 0.625rem;
}

.filter-button:hover {
    background-color: #DEEBFF;
}

/* INFO RECHERCHE */

.research .info {
    display: flex;
    align-items: center;
    margin-bottom: 2.438rem;
}

.research .info i {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Interdit à l'élément d'aller en dessous de sa largeur définie (width : 1,5rem) */
    flex-shrink: 0;

    height: 1.5rem;
    width: 1.5rem;
    border: solid 1px #D9D9D9;
    border-radius: 50%;
    color: #0065FC;
    font-size: 0.625rem;
    margin-right: 0.688rem;
}

/* SECTION HEBERGEMENTS A MARSEILLE & LES PLUS POPULAIRES */

.accommodations-most-popular {
    margin-bottom: 3.75rem;
}

.accommodations-most-popular .container{
    display: flex;
}

/* BLOC HEBERGEMENTS A MARSEILLE */

#accommodations {
    background-color: #F2F2F2;
    border-radius: 1.25rem;
    padding: 2.625rem 2.5rem;
    /* Calcul pour la dimension de la section "Hébergements" : 
    100% de la largeur du container - la marge / le nombre de colonnes */
    width: calc((100% - 2.5rem) / (3 / 2));
    margin-right: 2.5rem;
}

.accommodations-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;

    margin-bottom: 2.5rem;
}

#accommodations h2 {
    margin-bottom: 1.438rem;
}

/* CARTE HEBERGEMENT A MARSEILLE */

.accommodation-card {
    display: flex;
    /*  Calcul pour la taille des cartes "Hébergements à Marseille": 
    100% de la largeur - la taille de la marge * le nombre de marges par rangées / le nombre de cartes par rangées*/
    width: calc((100% - 1.875rem * 2) / 3);
    border-radius: 1.25rem;

    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.accommodation-card a {
    display: flex;
    flex-direction: column;

    width: 100%;
}

/* IMAGE CARTE HEBERGEMENT A MARSEILLE */

.accommodation-card img {
    width: 100%;
    /* ratio : largeur / hauteur de l'image*/
    aspect-ratio: 246 / 124;
    border: solid 5px #FFFFFF;
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
}

/* DESCRIPTION CARTE HEBERGEMENT A MARSEILLE */

.card-info {
    display: flex;
    flex-direction: column;
    /* Autorise la description à prendre l'espace disponible */
    flex-grow: 1;

    padding: 0.25rem 1rem 0.688rem 1rem;
}

.card-info h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.563rem;
}

.card-info p {
    font-size: 0.875rem;
    margin-bottom: 0.563rem;
}

/* ETOILES RATING */

.rating {
    display: flex;
    color: #0065FC;
    font-size: 0.75rem;
    /* Pour pousser le rating en bas de la carte */
    margin-top: auto;
}

.rating i{
    display: block;
    margin-right: 0.125rem;
}

.rating .empty {
    /* La dernière étoile ne prend pas la couleur bleue */
    color: #D9D9D9; 
}

/* AFFICHER PLUS */

#accommodations p a {
    font-size: 1.125rem;
    font-weight: 700;
}

/* BLOC LES PLUS POPULAIRES */


.most-popular {
    background-color: #F2F2F2;
    border-radius: 1.25rem;
    padding: 2.563rem 2.5rem 2.125rem 2.313rem;

    /* Calcul pour la dimension de la section "Les plus populaires":
    100% de la largeur - la marge / le nombre de cartes */
    width: calc((100% - 2.5rem) / 3 )
}

.most-popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.625rem;
}

.most-popular-title i {
    font-size: 1.125rem;
    color: #0065FC;
}

/* CARTE LES PLUS POPULAIRES */

.most-popular-card {
    border-radius: 1.25rem;
    margin-bottom: 2.063rem;

    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.most-popular-card:last-child {
    margin-bottom: 0;
}

.most-popular-card a {
    display: flex;
}

/* IMAGE CARTE LES PLUS POPULAIRES */

.most-popular-card img {
    width: 40%;
    aspect-ratio: 137 / 144;
    border: solid 5px #FFFFFF;
    border-radius: 1.25rem 0 0 1.25rem;
    object-fit: cover;
    flex-shrink: 0;
}

/* DESCRIPTION CARTE LES PLUS POPULAIRES */

.most-popular-card .card-info {
    padding: 1rem 1.375rem 0.75rem 0.938rem;
}

/* SECTION ACTIVITES A MARSEILLE */

#activities {
    margin-bottom: 3.782rem;
}

#activities h2 {
    margin-bottom: 1.154rem;
}

.activities-cards {
    display: flex;
    gap: 2.688rem;
}

/* CARTE ACTIVITES A MARSEILLE */

.activities-card {
    /* Calcul pour la dimension des cartes "Activités à Marseille": 
    100% de la largeur - la marge * le nombre de marges par rangées / le nombre de cartes par rangées */
    width: calc((100% - 2.688rem * 3) / 4);
    border-radius: 1.25rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

/* IMAGE CARTE ACTIVITES A MARSEILLE */

.activities-card img {
    width: 100%;
    aspect-ratio: 302 / 389;
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
}

/* DESCRIPTION CARTE ACTIVITES A MARSEILLE */

.activities-card h3 {
    font-size: 1rem;
    font-weight: 700;
    padding: 1.25rem 1.188rem 1.313rem 1.188rem;
}

/* FOOTER */

.footer-inner {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.footer-nav {
    width: 100%;
    margin : 2.813rem 0 3.625rem 4.375rem
}

.footer-nav h3 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.footer-nav li {
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

/* RESPONSIVE TABLETTE */

@media  screen and (max-width: 992px) {

    /* BODY */

    .container {
        padding-inline: 72px;
    }

    /* SECTION RECHERCHE */

    .research h1 {
        margin-bottom: 0.813rem;
    }

    .filters p {
        margin-right: 1.063rem;
    }

    .filter-button {
        margin-right: 1.375rem;
    }

    .accommodations-most-popular .container {
        flex-direction: column;
    }

    /* BLOC HEBERGEMENTS A MARSEILLE */

    #accommodations {
        width: 100%;

        margin-bottom: 3.313rem;
    }

    /* BLOC LES PLUS POPULAIRES */

    .most-popular {
        width: 100%;
    }

    .most-popular-cards {
        display: flex;
        flex-direction: row;
        gap: 1.438rem;
    }

    .most-popular-card {
        display: flex;
        width: calc((100% - 1.438rem * 2) / 3);
        margin-bottom: 0;
    }

    .most-popular-card a {
        width: 100%;
    }

    .most-popular-card h3 {
        font-size: 0.875rem;
    }

    .most-popular-card .card-info {
        font-size: 0.813rem;
    }

    /* SECTION ACTIVITES A MARSEILLE */

    #activities {
        margin-bottom: 4.313rem;
    }

    #activities h2 {
        margin-bottom: 2.125rem;
    }

    .activities-cards {
        gap: 3.125rem;
    }

    .activities-card {
        width: calc((100% - 3.125rem * 3) / 4);
    }

    .activities-card img {
        aspect-ratio: 182 / 211;
    }
}

/* RESPONSIVE MOBILE */

@media  screen and (max-width: 768px) {
    
    /* BODY */

    .container {
        padding-inline: 20px;
    }
    
    /* HEADER */

    header .container {
        flex-direction: column;
        padding: 0;

        margin-bottom: 1.938rem;
    }

    .logo img {
        margin-top: 1.313rem;
    }

    nav {
        width: 100%;

        margin-top: 1.563rem;
    }

    .nav-menu li {
        width: 50%;
        margin-left: 0;
    }

    .nav-menu a {
        text-align: center;
        padding: 1.438rem 1.938rem;
        border-top: 0;
        border-bottom: solid 3px #F2F2F2;
    }

    .nav-menu a:hover {
        border-top: 0;
        border-bottom: solid 3px;
    }

    /* SECTION RECHERCHE */

    .research-function {
        margin-top: 2.25rem;
    }

    .research-function .submit-button i {
        display: initial;
    }

    .research-function .submit-button span {
        display: none;
    }

    .filters {
        gap: 1.063rem 0.938rem;
    }

    .filters p {
        width: 100%;
    }

    .filter-button {
        font-size: 0.688rem;
        /* Calcul pour positionner les boutons par 2: 
        100% de la largeur - la marge / le nombre de bouton par rangées */
        width: calc((100% - 0.938rem) / 2); 
        padding-inline: 0.813rem;

        margin-right: 0;
    }

    .filter-button i {
        margin-right: 0.313rem;
    }

    /* SECTION HEBERGEMENTS A MARSEILLE ET LES PLUS POPULAIRES */

    .accommodations-most-popular {
        margin-bottom: 5.563rem;
    }
    
    .accommodations-most-popular .container {
        flex-direction: column-reverse;
        padding: 0;
    }

    /* BLOC LES PLUS POPULAIRES */

    .most-popular {
        padding: 1.75rem 1.25rem 2.938rem 1.25rem;
        border-radius: 0;
    }
    
    .most-popular-cards {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    } 

    .most-popular-card {
        width: 100%;
    }

    .most-popular-card img {
        aspect-ratio: 106 / 144;
    }

    /* BLOC HEBERGEMENTS A MARSEILLE */

    #accommodations {
        background-color: #FFFFFF;
        border-radius: 0;
        padding: 1.625rem 1.25rem;

        margin-bottom: 0;
    }

    #accommodations p a {
        /* Le lien "Afficher Plus" n'apparait pas */
        display: none; 
    }

    .accommodations-cards {
        flex-direction: column;
        gap: 0.75rem;

        margin-bottom: 0;
    }

    .accommodation-card {
        width: 100%;
    }

    .accommodation-card img {
        aspect-ratio: 335 / 124;
    }

    /* SECTION ACTIVITES A MARSEILLE */

    #activities {
        margin-bottom: 5rem;
    }

    #activities h2 {
        margin-bottom: 1.5rem;
    }

    .activities-cards {
        flex-direction: column;
        gap: 1.5rem;
    }

    .activities-card {
        width: 100%;
    }

    .activities-card img {
        aspect-ratio: 334 / 134;
    }

    /* FOOTER */

    footer .container {
        padding: 0;
    }

    .footer-inner {
        flex-direction: column;
        gap: 2.5rem;
        padding: 2.813rem 1.25rem 3.813rem 1.25rem;
    }

    .footer-nav {
        margin: 0;
        margin-left: 0.625rem;
    }
}