/* RESET CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

input {
    border: 0;
    font-family: inherit;
}

button {
    font: inherit;
    color: inherit;
    background: transparent;
}

/* CSS BOOKI */

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    max-width: 1510px;

    padding-left: 55px;
    padding-right: 55px;
    margin: auto;
}

h2 {
    font-size: 1.375rem;
    font-weight: 700;
}

/* HEADER */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 19px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.nav-menu li {
    margin-left: 1.25rem;
}

.nav-menu a {
    display: block;

    padding: 2.875rem 1.25rem 2.875rem 1.25rem;
    border-top: solid 2px rgba(0, 0, 0, 0);
}

.nav-menu a:hover{
    color: #0065FC;
    border-top: solid 2px;
}

/* RESEARCH */

.research h1 {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.research-function {
    display: flex;
    margin-top: 1.25rem;
}

.location-icon {
    background-color: #F2F2F2;
    padding: 1rem 1.125rem 1rem 1.125rem;
    border-radius: 1rem 0 0 1rem;

    font-size: 1rem;
}

.research-function input[type="text"] {
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
    padding: 0.813rem 0 0.813rem 1rem;

    font-size: 1.125rem;
    font-weight: 700;
    color: #000000;
}

.research-function input[type="submit"] {
    background-color: #0065FC;
    padding: 0.875rem 1rem 0.875rem 1rem;
    border-radius: 0 1rem 1rem 0;

    font-size: 1.125rem;
    font-weight: 700;
    color: #FFFFFF;
}

/* FILTERS */

.filters {
    display: flex;
    font-weight: 700;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

.filters p {
    margin-right: 2rem;
}

.filter-button  {
    display: flex;
    align-items: center;

    border: solid 1px #D9D9D9;
    border-radius: 1.563rem;

    font-size: 1rem;
    padding: 0.813rem 1.188rem 0.813rem 1.188rem;
    margin-right: 2rem;
    
}

.filter-button:last-child {
    margin-right: 0;
}

.filter-button i {
    color: #0065FC;
    font-size: 1.375rem;
    margin-right: 0.625rem;
}

.filter-button:hover {
    background-color: #DEEBFF;
}

/* RESEARCH INFO */

.research .info {
    display: flex;
    align-items: center;
    margin-bottom: 2.438rem;
}

.research .info i {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 1.5rem;
    width: 1.5rem;
    border: solid 1px #D9D9D9;
    border-radius: 50%;
    color: #0065FC;
    font-size: 0.625rem;
    margin-right: 0.688rem;
}

/* ACCOMMODATIONS IN MARSEILLE & MOST POPULAR SECTIONS */

.accommodations-most-popular {
    margin-bottom: 3.75rem;
}

.accommodations-most-popular .container{
    display: flex;
}

/* ACCOMMODATIONS IN MARSEILLE SECTION */

#accommodations {
    background-color: #F2F2F2;
    border-radius: 1.25rem;
    padding: 2.625rem 2.5rem;

    width: calc((100% - 2.5rem) / (3 / 2));
    margin-right: 2.5rem;
}

.accommodations-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;

    margin-bottom: 2.5rem;
}

#accommodations h2 {
    margin-bottom: 1.438rem;
}

/* ACCOMMODATION CARD */

.accommodation-card {
    display: flex;
    width: calc((100% - 1.875rem * 2) / 3);
    border-radius: 1.25rem;

    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.accommodation-card a {
    display: flex;
    flex-direction: column;

    width: 100%;
}

/* ACCOMMODATION CARD IMAGE */

.accommodation-card img {
    width: 100%;
    height: 7.75rem;
    border: solid 5px #FFFFFF;
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
}

/* ACCOMMODATION CARD DESCRIPTION */

.card-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 0.25rem 1rem 0.688rem 1rem;
}

.card-info h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.563rem;
}

.card-info p {
    font-size: 0.875rem;
    margin-bottom: 0.563rem;
}

/* STARS RATING */

.rating {
    display: flex;
    color: #0065FC;
    font-size: 0.75rem;

    margin-top: auto;
}

.rating i{
    display: block;
    margin-right: 0.125rem;
}

.rating .empty {
    color: #D9D9D9;
}

/* LOAD MORE */

#accommodations p a {
    font-size: 1.125rem;
    font-weight: 700;
}

/* MOST POPULAR SECTION */


.most-popular {
    background-color: #F2F2F2;
    border-radius: 1.25rem;
    padding: 2.563rem 2.5rem 2.125rem 2.313rem;

    width: calc((100% - 2.5rem) / 3 )
}

.most-popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.625rem;
}

.most-popular-title i {
    font-size: 1.125rem;
    color: #0065FC;
}

/* MOST POPULAR CARD */

.most-popular-card {
    border-radius: 1.25rem;
    margin-bottom: 2.063rem;

    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.most-popular-card:last-child {
    margin-bottom: 0;
}

.most-popular-card a {
    display: flex;
}

/* MOST POPULAR CARD IMAGE */

.most-popular-img {
    width: 40%;
    position: relative;
    min-height: 9rem;
    flex-shrink: 0;
}

.most-popular-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 5px #FFFFFF;
    border-radius: 1.25rem 0 0 1.25rem;
    object-fit: cover;
}

/* MOST POPULAR CARD INFO */

.most-popular-card .card-info {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.375rem 0.75rem 0.938rem;
}

.most-popular-card .rating {
    margin-top: auto;
}

/* ACTIVITIES IN MARSEILLE SECTION */

#activities {
    margin-bottom: 3.782rem;
}

.activities-cards {
    display: flex;
}

#activities h2 {
    margin-bottom: 1.154rem;
}

/* ACTIVTIES IN MARSEILLE CARD */

.activities-card {
    width: calc((100% - 2.688rem * 3) / 4);
    margin-right: 2.688rem;
    border-radius: 1.25rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.activities-card:last-child {
    margin-right: 0;
}

/* ACTIVITIES IN MARSEILLE CARD IMAGE */

.activities-card img {
    width: 100%;
    height: 24.313rem;
    border-radius: 1.25rem 1.25rem 0 0;
    object-fit: cover;
}

/* ACTIVITIES IN MARSEILLE CARD INFO */

.activities-card h3 {
    font-size: 1rem;
    font-weight: 700;
    padding: 1.25rem 2.25rem 1.313rem 1.888rem;
}

/* FOOTER */

.inner-footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.footer-nav {
    width: 100%;
    margin : 2.813rem 0 3.625rem 4.375rem
}

.footer-nav h3 {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.footer-nav li {
    font-size: 1rem;
    margin-bottom: 0.75rem;
}